* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: serif;
}
.title {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0  0;
}
.underline {
  width: 10%;
  border-bottom: 2px solid rgb(20, 20, 20);
  margin: 0 auto;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
  flex-wrap: wrap;
}
.menu {
  width: 20rem;
  height: 18rem;
  background-color: rgb(221, 101, 32);
  display: grid;
  place-items: center;
  padding: 2rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: 100%;
}
.menuImg {
  width: 11rem;
  height: 6rem;
  border: 2px solid rgb(223, 133, 133);
}
.cards {
  margin: 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  color: white;
}
.menuName{
    color: rgb(255, 210, 85);
}
.menuContent{
  color: black;
}
.filterBtn {
  background: rgb(228, 184, 158);
  outline: none;
  border: none;
  padding: 1rem 2rem;
}
.filterBtn:hover {
  background: rgb(228, 184, 158);
  box-shadow: 0px 5px 10px 0px rgb(20, 20, 20, 0.25);
  border: 2px solid rgb(230, 160, 120);
}
